
.main-div{
    width: 80%;
    margin: 0em auto;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    color: #606060;
    justify-content: space-between;
   
}

.first-section{
    width: 80%;
    display: flex;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
   
}

.award-bar{
    display: flex;
    flex-direction: column;
}

.bar{
    width: 14em;
    margin-top: 1;
}

.play-button{
    margin: 2em auto;
}

#award{
    width: 25%;
}

.learning-progress{
    width: 50%;
    margin-top: 5.95em;
    border: 1px solid #cacaca;
    border-radius: 12px;
}

.award-div{
    display: flex;
    padding: 2em 0;
    border: 1px solid #cacaca;
    border-radius: 12px;
    align-items: center;
}

.points{
    margin-left: 2em;
    width: 45%;
    
}


#path{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 2em;
}
.progress-icons {
    
    display: grid;
    padding: 2em 0em 2em 0em;
    grid-template-columns: [first] 120px [line2] 120px [line3] 120px [line4] 120px [line5] 120px [line6];
    grid-template-rows: [first] 150px [line2] 70px [line3] 150px [line4] 70px [line5] 150px [line6]  ;
    justify-content: center;
}
.progress-icons img{
    z-index: -5;
    width: 100%;
}

.progress-icons a {
    z-index: 0;
}


a img{
    filter: saturate(60%);

}

.disabled{
    filter: grayscale(100%);
    pointer-events: none;

}


#kennel1{
    z-index: -1;
    grid-column: 2;
    grid-row: 1; 
    
     
}

#kennel1:hover{
    filter: saturate(100%);
}

#kennel2{
    z-index: -1;
    grid-column: 4;
    grid-row: 1; 
   
}
#kennel2:hover{
    filter: saturate(100%);
}

#kennel3{
    z-index: -1;
    grid-column: 2;
    grid-row: 3;
  
}

#kennel3:hover{
    filter: saturate(100%);
}

#kennel4{
    z-index: -1;
    grid-column: 4;
    grid-row: 3; 

    
}

#kennel4:hover{
    filter: saturate(100%);
}

#kennel5{
    z-index: -1;
    grid-column: 2;
    grid-row: 5; 
 
}

#kennel5:hover{
    filter: saturate(100%);
}

#kennel6{
    z-index: -1;
    grid-column: 4;
    grid-row: 5;

}

#kennel6:hover{
    filter: saturate(100%);
    
}
/* #dogpaw1{
    grid-column: 2 ;
    grid-row: 1;
    width: 100%;
}

#dogpaw2{
    grid-column: 2;
    grid-row: 2;
}
#dogpaw3{
    grid-column: 4;
    grid-row: 2;
}
#dogpaw4{
    grid-column: 4;
    grid-row: 1;
}

#dogpaw5{
    grid-column: 5;
    grid-row: 2;
}
#dogpaw6{
    grid-column: 4;
    grid-row: 3;
}

#dogpaw7{
    grid-column: 3;
    grid-row: 3;
}

#dogpaw8{
    grid-column: 2;
    grid-row: 3;
} */

span{
    margin-left: 35px;
}